@charset "utf-8";
@import "colors";

// Update Bulma's global variables
// Colors
$white: $snow;
$white-bis: $white-smoke;
$white-ter: $white-smoke-2;
$grey-lightest: $gainsboro;
$grey-lighter: $gainsboro-2;
$grey-light: $very-light-gray;
$grey: $oslo-grey;
$grey-dark: $gun-powder;
$grey-darker: $black-pearl;
$black-ter: $black-pearl-2;
$black-bis: $black;

$link: $java;

// Fonts
@font-face {
  font-family: "Nico Moji";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/NicoMoji-Regular_subset.woff2")
      format("woff2"),
    url("./fonts/NicoMoji-Regular_subset.woff")
      format("woff");
}
$family-sans-serif: "Montserrat", "Noto Sans JP", BlinkMacSystemFont,
  -apple-system, system-ui, sans-serif;
$family-monospace: "Fira Code", monospace;
$family-primary: $family-sans-serif;
$family-code: $family-monospace;
$body-font-size: 0.9em;

@import "bulma";
@import "bulma-timeline";
