// Monochrome -------------------------------
$snow:              #fbfbfb;
$white-smoke:       #f6f6f6;
$white-smoke-2:     #f0f0f0;
$gainsboro:         #e0e0e0;
$gainsboro-2:       #d9d9d9;
$light-gray:        #d0d0d0;
$very-light-gray:   #cccccc;
$submarine:         #93a1a1; // ff, 6c
$oslo-grey:         #7a8181; // ad
$gun-powder:        #403f53;
$black-pearl:       #011627;
$black-pearl-2:     #020e14;
$black:             #111111;

// Colors -----------------------------------
$tickle-me-pink:    #ff869a;
$wild-strawberry:   #ff2c83;
$bittersweet:       #f76e6e;
$sunset-orange:     #ef5350; // 90
$froly:             #ec5f67;
$valensia:          #e64d49;
$cinnabar:          #de3d3b;
$cinnabar-2:        #d3423e;
$contessa:          #c96765;
$fuzzy-wuzzy-brown: #bc5454;
$gamboge:           #daaa01;
$gamboge-2:         #e0af02;
$atlantis:          #8bd649;
$bermuda-grey:      #7497a6; // 33
$lynch:             #5f7e97;
$medium-turquoise:  #49d0c5;
$java:              #2aa298;
$observatory:       #08916a;
$eastern-blue:      #0c969b;
$rock-blue:         #989fb1;
$rock-blue-2:       #939dbb;
$botticelli:        #90a7b2;
$pattens-blue:      #e0e7ea;
$pattens-blue-2:    #d3e8f8;
$pattens-blue-3:    #cdebf7;
$perano:            #a2bffc;
$maya-blue:         #6fbef6;
$turquoise-blue:    #57eaf1;
$turquoise:         #31e1eb;
$sky-blue:          #78ccf0;
$malibu:            #5ca7e4;
$summer-sky:        #339cec; // 33
$navy-blue:         #007dd6; // 59
$royal-blue:        #4876d6;
$curious-blue:      #288ed7;
$portage:           #7986e7;
$waikawa-grey:      #697098;
$deep-liac:         #994cc3;
$medium-violet-red: #aa0982;
$deep-cerise:       #d6438a;

// Core -------------------------------------
$syan:              $java;
$blue:              $curious-blue;
$purple:            #b294bb;
$green:             $observatory;
$red:               $cinnabar;
$orange:            #de935f;
$light-orange:      #f0c674;